body {
  background: #C9283E;
}

* {
  border: none;
}

.hidden {
  display:none
}

.postTitle, .postContent, .postTopic, .updatedTitle, .updatedContent, .updatedTopic {
  border: 1px solid green;
  padding: 5px;
}


.title, .content, .topic, .newTitle, .newContent, .newTopic {
  border-radius: 15px;
  background: #540032;
  color:  white;
}

.postForm, .updatedPostForm {
  position: relative;
  left: 40px;
  border-radius: 20px;
  background: #F0433A;
  width: 85%;
  padding: 45px;
  height: 1000px;
}

.legend, .legend2 {
  border-radius: 15px;
  background: #540032;
  color: white;
  right: 5px;
  font-size: 25px;
}

.legend {
  width: 60%;
}



p, h1, h2 {
  padding: 10px;
  border-radius: 5px;
  background: #540032;
  color: white;
}

.renderedContent {
  border-radius: 5px;
  width: 85%;
  height: 800px;
  background: #2E112D;
  color: white;
  font-size: 18px;
}

.newPostTitle, .newPostTopic {
  width: 45%;
  font-size: 40px;
}

ul {
  list-style-type: none;
}

.postButton, .updatePostButton {
  height: 73px;
  width: 150px;
  font-size: 17px;
  text-align: center;
  border-radius: 15px;
  background: #540032;
  color: white;
  position: relative;
  border: none;
  padding: 5px;
}

.deletePost, .updatePost {
  border-radius: 15px;
  width: 15%;
  font-size: 35px;
  padding: 7px;
  background: #540032;
  color: white;
}

.updatePostButton:hover, .postButton:hover, .deletePost:hover, .updatePost:hover {
  background-color: #820333;
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 320px) {

  .postButton, .updatePostButton {
    position: relative;
    top: 280px;
  }
  .legend2 {
    width: 60%;
  }
}

@media only screen and (min-width: 360px) {

  .postButton, .updatePostButton {
    top: 190px;
}

@media only screen and (min-width: 375px) {

  .postButton, .updatePostButton {
    top: 30px;
  }
}

@media only screen and (min-width: 411px) {

  .postButton, .updatePostButton {
    top: 240px;
  }

}

@media only screen and (min-width: 768px) {


.title, .content, .topic, .newTitle, .newContent, .newTopic {
  padding: 5px;
  font-size: 30px;
  width: 9%;
}

.title, .newTitle {
  position: absolute;
  top: 180px;
}

.topic, .newTopic {
  position: absolute;
  top: 240px;
}

.content, .newContent {
  position: absolute;
  top: 300px;
  width: 12%;
}

.postTitle, .postTopic, .updatedTitle, .updatedTopic {
  border-radius: 5px;
  padding: 5px;
  font-size: 30px;
}

.postTitle, .updatedTitle {
  position: absolute;
  left: 290px;
  top: 205px;
  width: 30%;
}

.postTopic, .updatedTopic {
  position: absolute;
  left: 290px;
  top: 265px;
  width: 30%;
}

.postContent, .updatedContent {
  position: absolute;
  width: 70%;
  height: 400px;
  top: 390px;
  font-size: 20px;
}

.postButton, .updatePostButton {
  top: 500px;
  padding: 5px;
}

}

@media only screen and (min-width: 1024px) {

  .postButton, .updatePostButton {
    bottom: 200px;
    padding: 5px;
  }
}

@media only screen and (min-width: 1080px) {

  .postButton, .updatePostButton {
    bottom: 230px;
    padding: 5px;
  }

}
