.hidden {
  display:none
}

.postTitle, .postContent, .postTopic, .title, .content, .topic {
  border: 1px solid green;
  height: 30px;
  width: 220px;
}

p, h2 {
  padding: 20px;
}

.postContent, .content {
  height: 40px;
  width: 300px;
}

ul {
  list-style-type: none;
}

.postForm, .updatedPostForm {
  text-align: center
}

.deletePost, .updatePost {
  margin-left: 20px;
  font-size: 15px;
}

.updatePostButton, .postButton {
  font-size: 15px;
}

.updatePostButton:hover, .postButton:hover, .deletePost:hover, .updatePost:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}
